*.asv
*.mat
*.scr
!LogoMacroPCB.scr
PCBdata
octave-workspace
.idea/
sextupole/BoardMacros/
sextupole/PCBData/
sextupole/Specifications/*
!sextupole/Specifications/mag
!sextupole/Specifications/MagLi.exe
__pycache__/
